.portfolio-item--details {
    padding-top: 35px;
    padding-bottom: 55px;
}

.portfolio-item--picture {
    &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
    }
}