.student-list {
    // background: url('/assets/img/student-hero.jpg') center top;
    background-size: cover;
    height: 80vh;

    @include media-breakpoint-down(sm) {
        height: auto;
        width: 90%;
    }

    &--student {
        flex: 1;
        background-position: center;
        background-repeat: no-repeat;        
        background-size: auto 100%;
        color: white;
        position: relative;
        transition: $transition-xlong;

        @include media-breakpoint-down(sm) {
            // background-size: cover;
            border-radius: $border-radius;
            margin-top: 2rem;
            padding-top: 75%;
            padding-bottom: 10%;
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            &:before {
                background: rgba($dark-grey, 0);
                content: '';
                position: absolute;
                height: 100%;
                transition: $transition-medium;
                width: 100%;
            }
        }

        .student-info--content {
            opacity: 0;
            transform: translateY(1rem);
            transition: $transition-long;

            @include media-breakpoint-down(sm) {
                opacity: 1;
                transform: none;
            }
        }

        @include media-breakpoint-up(md) {
            &:hover {
                background-size: auto 110%;

                &:before {
                    background: rgba($dark-grey, 0.85);
                }

                .student-info--content {
                    opacity: 1;
                    transform: translateY(0rem);
                }
            }
        }
    }
}

.student-list--link__mobile {
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}