.student-list {
    background: url('/assets/img/student-hero.jpg') center top;
    background-size: cover;
    height: 80vh;

    &--student {
        flex: 1;
        background-position: center top;
        background-size: cover;
        color: white;
        transition: $transition-medium;

        .student-info--content {
            background: rgba(0, 0, 0, 0);
            height: 100%;
            opacity: 0;
            transition: $transition-medium;
            width: 100%;

            &--wrapper {
                transition: $transition-long;
            }
        }

        &:hover {
            .student-info--content {
                background: rgba(#1b1b1b, 0.85);
                opacity: 1;

                &-wrapper {
                    transform: translateY(0rem);
                }
            }
        }
    }

    .row {
        height: 100%;
    }

    &--person {
        color: white;
        flex: 0 0 20%;
        height: 100%;
        max-width: 20%;
        opacity: 0;
        transition: $transition-medium;

        &:hover {
            background: rgba(#1b1b1b, 0.85);
            opacity: 1;
    
            .student-info--content-wrapper {
                transform: translateY(0rem);
            }
        }
    }

    .student-info--content-wrapper {
        transform: translateY(1rem);
        transition: $transition-long;

        // @include media-breakpoint-down(sm) {
        //     padding-left: 1rem;
        //     transform: translateX(-1rem);
        // }
    }
}