.student-list {
    // background: url('/assets/img/student-hero.jpg') center top;
    // background-size: cover;
    // height: 80vh;

    .row {
        height: 100%;
    }

    &--person {
        color: white;
        height: 100%;
        opacity: 0;
        transition: $transition-medium;

        flex: 0 0 20%;
        max-width: 20%;

        @include media-breakpoint-down(sm) {
            // opacity: 1;
            // background: #1b1b1b;
            background: linear-gradient(to right, rgba(#1b1b1b, .85) 25%, rgba(#1b1b1b, 0) 75%) !important;
            height: 20%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        &:hover {
            background: rgba(#1b1b1b, 0.85);
            opacity: 1;

            .student-name, .student-role, .student-link {
                transform: translateY(0rem);
            }
        }
    }
}

.student-list--gradient {
    &:hover {
        background: linear-gradient(
            to bottom, 
            rgba(#1b1b1b, 0) 50%, 
            rgba(#1b1b1b, .85) 75%) !important;
        
            @include media-breakpoint-down(sm) {
                background: rgba(#1b1b1b, .85) !important;
            }
    }
}