.student-list {
    background: url('/assets/img/student-hero.jpg') center top;
    background-size: cover;
    height: 80vh;

    &--student {
        flex: 1;
        background-position: center;
        background-size: auto 100%;
        color: white;
        position: relative;
        transition: $transition-xlong;

        &:before {
            background: rgba(#1b1b1b, 0);
            content: '';
            position: absolute;
            height: 100%;
            transition: $transition-medium;
            width: 100%;
        }

        .student-info--content {
            opacity: 0;
            transform: translateY(1rem);
            transition: $transition-long;
        }

        &:hover {
            background-size: auto 110%;

            &:before {
                background: rgba(#1b1b1b, 0.85);
            }

            .student-info--content {
                opacity: 1;
                transform: translateY(0rem);
            }
        }
    }

    .row {
        height: 100%;
    }

    &--person {
        color: white;
        flex: 0 0 20%;
        height: 100%;
        max-width: 20%;
        opacity: 0;
        transition: $transition-medium;

        &:hover {
            background: rgba(#1b1b1b, 0.85);
            opacity: 1;
    
            .student-info--content-wrapper {
                transform: translateY(0rem);
            }
        }
    }

    .student-info--content-wrapper {
        transform: translateY(1rem);
        transition: $transition-long;

        // @include media-breakpoint-down(sm) {
        //     padding-left: 1rem;
        //     transform: translateX(-1rem);
        // }
    }
}