h1, h2 {
    &:after {
        background: $primary;
        content: '';
        display: block;
        height: 3px;
        margin: 0 auto;
        width: 200px;
    }
}

h1 .h-xl {
    font-size: $font-size-base * 5;

    @include media-breakpoint-down(sm) {
        font-size: $font-size-base * 1.5;
    }
}

.font-size-large {
    font-size: $font-size-base * 1.75;
}