html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.no-after {
    &:after {
        content: none;
    }
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}