<div class="student-list d-flex flex-column flex-md-row mx-auto">
    {% for student in site.students %}
        {% assign student_image = student.slug 
            | prepend: 'assets/img/' 
            | append: '/' 
            | append: student.slug 
            | append: '.jpg' %}
        <div class="student-list--student 
                    d-flex flex-column align-items-center justify-content-center"
             style="background-image: url('{{ student_image | relative_url }}')">

            <div class="student-info--content 
                        d-flex flex-column align-items-center justify-content-center text-center">
                <span class="h2 student-name">{{ student.name | replace: '-', '&#8209;' }}</span>
                <span class="h4 student-role">{{ student.role }}</span>
                <a href="{{ student.url | relative_url }}" class="student-link">
                    Learn 
                    <span class="d-none d-md-inline">about {{ student.name | truncatewords: 1, '' }}</span>
                    <span class="d-inline d-md-none">more</span>                
                </a>
            </div>

        </div>
    {% endfor %}
</div>