---
layout: default
---

{% include _homepage/people-list.html %}

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">About</h2>
    </div>
    <div class="col-10 col-md-6 mt-3 mx-auto">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque tempore perferendis?</p>
    </div>
    <div class="col-12 mt-3">
      <img src="#" alt="#" class="d-block w-100">
    </div>
    <div class="col-10 mt-3 mx-auto">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sequi quasi accusamus autem, sapiente repellat omnis sit nostrum laudantium, placeat amet aspernatur itaque suscipit impedit consequuntur nam a reiciendis illum.
      Inventore id, nemo saepe debitis, culpa sit quia vero hic illum eveniet ullam placeat. Laudantium consequuntur omnis corporis voluptatibus ut quasi sequi quaerat, velit, iure delectus officiis suscipit officia eius.
      Illum rerum ab ipsa sed reprehenderit, hic et reiciendis rem facere, deserunt excepturi eveniet repellat suscipit quis quae vitae dicta quaerat quia iste cumque, ullam molestiae quisquam! Saepe, sequi velit?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum libero praesentium nam magni nobis qui corrupti delectus perferendis officia non doloribus quidem rem minima harum, ut ipsa, nostrum quo doloremque.
      Minima rem, dolores cumque tempore labore in tenetur. Ratione voluptas illo similique! Odio asperiores exercitationem illo? Fuga, at nihil id autem velit esse quisquam optio illo quos est minus odio.
      Corrupti tempora porro temporibus excepturi dolores odio dignissimos alias itaque cupiditate assumenda, fugit eligendi laborum voluptatem laboriosam veniam sed similique ab! Illo repellat est maiores adipisci aspernatur officia suscipit doloremque?
      Beatae voluptatem recusandae, maxime rem cumque aperiam laborum fugit animi culpa eveniet expedita quo pariatur molestiae quasi! Blanditiis necessitatibus magnam doloribus incidunt minima reprehenderit, iure maxime at veritatis ipsam architecto.</p>
    </div>

    <div class="col-12 mt-3 text-center">
        <span class="h4">
          Follow us here: 
          <a href="#" class="text-dark">fb</a>
          <a href="#" class="text-dark">tw</a>
        </span>
      </div>
  </div>
</div>

{% assign foot = false %}
{% if foot %}
  {% include footer.html %}
{% else %}
{% endif %}