---
layout: default
---
<article class="student-page container">

  {% comment %}
    {% assign img_string = 'assets/img/' | append: page.picture %}

    <div class="row">
      <div class="col-12">
        <img src="{{ img_string | relative_url }}" alt="{{ page.title }}" class="w-100">
      </div>
    </div>
  {% endcomment %}

  <header class="student-header w-100 py-5 text-center">
      <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="row student-bio pb-5">
    <div class="col-10 mx-auto">
      {% for paragraph in page.bio %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>

  {% if page.social %}
    <div class="row pb-5">
      <div class="col-12 text-center">
        <span class="h5">
          Contact {{ page.name | truncatewords: 1, '' }}:
  
          {% for link in page.social %}
            <a href="{{ link.url }}" class="text-dark ml-1">
              <span class="sr-only">{{ link.name }}</span>
              <i class="{{ link.icon_code }}"></i></a>
          {% endfor %}
        </span>
      </div>
    </div>
  {% endif %}
  
  <div class="row">
    {% assign col_num = 1 %}
    {% assign modulo = page.portfolio.size | modulo: 3 %}
    {% for item in page.portfolio %}

      {% unless col_num == 1 %}
        {% assign col_size = 6 %}
      {% else %}
        {% assign col_size = 12 %}
      {% endunless %}

      <div class="col-{{ col_size }} text-center pb-4">
        {% if item.yt %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src='https://www.youtube.com/embed/{{ item.yt }}' allowfullscreen></iframe>
          </div>
        {% else %}
          {% assign img = 'assets/img/' 
            | append: page.slug 
            | append: '/portfolio/' 
            | append: item.picture %}
          <div class="portfolio-item--picture" style="background-image: url('{{ img | relative_url }}');">
            <img src="{{ img | relative_url }}" alt="{{ item.img_alt }}" class="sr-only">
          </div>
        {% endif %}

        <div class="portfolio-item--details">
          <h5>{{ item.name }}</h5>
          <p class="portfolio-item--desc">{{ item.desc }}</p>
        </div>
      </div>

      {% if col_num < 3 %}
        {% assign col_num = col_num | plus: 1 %}
      {% else %}
        {% if modulo == 2 %}
          {% assign col_num = 2 %}
        {% else %}
          {% assign col_num = 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
