---
layout: default
---
<article class="student-page container">

  {% assign img_string = 'assets/img/' | append: page.picture %}

  <!-- <div class="row">
    <div class="col-12">
      <img src="{{ img_string | relative_url }}" alt="{{ page.title }}" class="w-100">
    </div>
  </div> -->

  <header class="student-header w-100 py-5 text-center">
      <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="row student-bio pb-5">
    <div class="col-10 mx-auto">
      {% for paragraph in page.bio %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="row pb-5">
    <div class="col-12 text-center">
      <span class="h5">
        Contact {{ page.name | truncatewords: 1, '' }}:
        <a href="{{ page.social.twitter.url }}" class="text-dark ml-1">
          <i title="twitter" class="fab fa-twitter"></i></a>
        <a href="{{ page.social.email.url }}" class="text-dark ml-1">
          <i title="email" class="far fa-envelope"></i></a>
      </span>
    </div>
  </div>
  
  <div class="row">
    {% assign col_num = 1 %}
    {% assign modulo = site[page.slug].size | modulo: 3 %}
    {% for item in site[page.slug] %}

      {% unless col_num == 1 %}
        {% assign col_size = 6 %}
      {% else %}
        {% assign col_size = 12 %}
      {% endunless %}

      <div class="col-{{ col_size }} text-center pb-4 d-flex flex-wrap justify-content-center">
        {% assign img = 'assets/img/portfolio/' 
          | append: page.slug 
          | append: '/' 
          | append: item.picture %}
        <div class="card-img" style="background: url({{ img | relative_url }}) center top; height: 200px; background-size: cover;">
          <img src="{{ img | relative_url }}" alt="#" class="d-block w-100 sr-only">
        </div>
        <a href="{{ item.url | relative_url }}" class="text-dark portfolio-item--link h5">
            {{ item.name }}              
        </a>
      </div>

      {% if col_num < 3 %}
        {% assign col_num = col_num | plus: 1 %}
      {% else %}
        {% if modulo == 2 %}
          {% assign col_num = 2 %}
        {% else %}
          {% assign col_num = 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
